{% load cart_tools %}

<!-- Credit: MDB Tables @ https://mdbootstrap.com/docs/standard/data/tables/ -->
<table class="table mb-5">
    <!-- Product Details Headings -->
    <thead>
        <tr>
            <th scope="col" style="width: 35%;">Product</th>
            <th class="text-start" scope="col" style="width: 35%;">Description</th>
            <th scope="col" style="width: 15%;">Qty</th>
            <th class="text-end" scope="col" style="width: 15%;">Sub Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- Product Details -->
            {% for item in cart_items %}
            <td>
                {% if item.product.image %}
                    <img class="w--50" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                    <img class="w--50" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                {% endif %}
            </td>
            <td class="text-start">
                <p class="fw-bold">{{ item.product.name }}</p>
                <p class="small text-muted">Product ID: {{ item.product.sku }}</p>
                {% if item.product.has_sizes %}
                    <p class="small">Size: {{ item.size|upper }}</p>
                {% endif %}
                {% if item.product.is_club %}
                    <p class="small">Club: {{ item.club|title }}</p>
                {% endif %}
                {% if not item.product.is_discount %}
                    <p>Price: €{{ item.product.price }}</p>
                {% else %}
                    <p>Price: €{{ item.product.discount_price }}</p>
                {% endif %}
            </td>
            <td>
                <!-- Form Quantity -->
                {% include "cart/qty_form.html" %}
            </td>
            <td>
                {% if not item.product.is_discount %}
                <p class="text-end">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                {% else %}
                <p class="text-end">€{{ item.product.discount_price | calc_subtotal:item.quantity }}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <!-- Free Golf Balls -->
    {% if free_golf_balls_delta == 0 %}
        {% include "cart/free_golf_balls_desktop.html" %}
    {% endif %}
</table>