{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Credit: Bootstrap Alerts @ https://getbootstrap.com/docs/5.0/components/alerts/ -->
<div class="alert alert-warning text-center mb-0 main--alert" role="alert">
    Spend <span class="font-weight-bold">&#128;{{ free_golf_balls_threshold }}</span> or more and get a Dozen Golf Balls <span
        class="font-weight-bold">FREE</span>!
</div>
<!-- /End of Credit -->
<!-- Credit: MDB Masks @ https://mdbootstrap.com/docs/standard/content-styles/masks/ -->
<div class="bg-image">
    <img class="w-100 hero--image" src="{% static 'images/hero-image.jpg' %}" alt="Main image of home page">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
</div>
<!-- /End of Credit -->

<section class="text-center container w--80">
    <h2 class="mt-5">Popular Brand</h2>
    <div class="row mt-5">
        <div class="col-3">
            <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
                    src="{% static 'images/taylormade.png' %}" alt="Popular Brand TaylorMade"></a>
        </div>
        <div class="col-3">
            <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
                    src="{% static 'images/callaway.png' %}" alt="Popular Brand Callaway"></a>
        </div>
        <div class="col-3">
            <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
                    src="{% static 'images/titleist.png' %}" alt="Popular Brand Titleist"></a>
        </div>
        <div class="col-3">
            <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
                    src="{% static 'images/mizuno.png' %}" alt="Popular Brand Mizuno"></a>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-3">
            <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
                    src="{% static 'images/ping.png' %}" alt="Popular Brand PING"></a>
        </div>
        <div class="col-3">
            <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
                    src="{% static 'images/cobra.png' %}" alt="Popular Brand Cobra"></a>
        </div>
        <div class="col-3">
            <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
                    src="{% static 'images/srixon.png' %}" alt="Popular Brand Srixon"></a>
        </div>
        <div class="col-3">
            <a href=""><span class="vertical--align--middle"></span><img class="brand--logo"
                    src="{% static 'images/nike.png' %}" alt="Popular Brand Nike"></a>
        </div>
    </div>
</section>

<section id="reasons--for--purchase" class="text-center container-fluid">
    <h2 class="pt-5 pb-5">Why Shopping with Eagle Golf?</h2>
    <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
    <div class="row">
        <div class="col-4 d-flex align-items-stretch">
            <div class="card mb-5 center w--80">
                <div class="card-header"><i class="fas fa-truck pt-2 fa-2x"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Express Delivery</h5>
                    <p class="card-text">
                        We dispatch your product within 2 working days since the order has been made so you won't wait for long till you get it.
                    </p>
                    <p>Click Here to see the cost of delivery</p>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <div class="card mb-5 center w--80">
                <div class="card-header"><i class="fas fa-wallet pt-2 fa-2x"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Competitive Prices</h5>
                    <p class="card-text">
                        Our prices are not only cheaper than retail prices but also cheaper than other online shops, so you save money for next shopping
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <div class="card mb-5 center w--80">
                <div class="card-header"><i class="fas fa-credit-card pt-2 fa-2x"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Secure Payment</h5>
                    <p class="card-text">
                        Our credit card payment is very secure so you do not worry about providing the details online
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /End of Credit -->
</section>
{% endblock %}