{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block page_header %}
<!-- Credit: MDB Masks @ https://mdbootstrap.com/docs/standard/content-styles/masks/ -->
<div class="bg-image">
    <img class="d-none d-md-block w-100" src="{% static 'images/hero-image.png' %}" alt="Main image of home page">
    <img class="d-md-none w-100" src="{% static 'images/hero-image-mobile.png' %}" alt="Main image of home page">
    <a href="{% url 'products' %}?sale">
        <p class="d-none d-lg-inline-block text-uppercase fw-bold fade-in-text color--e84610 catch--phrase">Sale Now On</p>
    </a>
    <a class="btn btn-warning text-uppercase font-weight-bold shop--now--btn" href="{% url 'products' %}" 
        alt="Shop Now button">Shop Now</a>
</div>
<!-- /End of Credit -->
{% endblock %}

{% block content %}
<section id="popular--brand" class="text-center container">
    <h2 class="mt-4 mb-md-4">Popular Brand</h2>
    <div class="row mt-3 mt-md-3 mt-lg-5">
        <div class="col-6 col-md-3 p-3 hvr-float-shadow">
            <a href="{% url 'products' %}?brand=taylormade"><span class="vertical--align--middle"></span><img
                    class="brand--logo" src="{% static 'images/taylormade.png' %}" alt="Popular Brand TaylorMade"></a>
        </div>
        <div class="col-6 col-md-3 p-3 hvr-float-shadow">
            <a href="{% url 'products' %}?brand=callaway"><span class="vertical--align--middle"></span><img
                    class="brand--logo" src="{% static 'images/callaway.png' %}" alt="Popular Brand Callaway"></a>
        </div>
        <div class="col-6 col-md-3 p-3 hvr-float-shadow">
            <a href="{% url 'products' %}?brand=titleist"><span class="vertical--align--middle"></span><img
                    class="brand--logo" src="{% static 'images/titleist.png' %}" alt="Popular Brand Titleist"></a>
        </div>
        <div class="col-6 col-md-3 p-3 hvr-float-shadow">
            <a href="{% url 'products' %}?brand=mizuno"><span class="vertical--align--middle"></span><img
                    class="brand--logo" src="{% static 'images/mizuno.png' %}" alt="Popular Brand Mizuno"></a>
        </div>
        <div class="col-6 col-md-3 p-3 hvr-float-shadow">
            <a href="{% url 'products' %}?brand=ping"><span class="vertical--align--middle"></span><img
                    class="brand--logo" src="{% static 'images/ping.png' %}" alt="Popular Brand PING"></a>
        </div>
        <div class="col-6 col-md-3 p-3 hvr-float-shadow">
            <a href="{% url 'products' %}?brand=cobra"><span class="vertical--align--middle"></span><img
                    class="brand--logo" src="{% static 'images/cobra.png' %}" alt="Popular Brand Cobra"></a>
        </div>
        <div class="col-6 col-md-3 p-3 hvr-float-shadow">
            <a href="{% url 'products' %}?brand=srixon"><span class="vertical--align--middle"></span><img
                    class="brand--logo" src="{% static 'images/srixon.png' %}" alt="Popular Brand Srixon"></a>
        </div>
        <div class="col-6 col-md-3 p-3 hvr-float-shadow">
            <a href="{% url 'products' %}?brand=nike"><span class="vertical--align--middle"></span><img
                    class="brand--logo" src="{% static 'images/nike.png' %}" alt="Popular Brand Nike"></a>
        </div>
    </div>
</section>

<section id="reasons--for--purchase" class="text-center container-fluid pb-5">
    <h2 class="mt-4 pt-4 pb-4">Why Shopping with Eagle Golf?</h2>
    <!-- Credit: MDB Pills @ https://mdbootstrap.com/docs/standard/navigation/pills/ -->
    <ul class="nav nav-pills nav-justified mb-3 mx-auto reasons--for--purchase--tabs" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="ex3-tab-1" data-mdb-toggle="pill" href="#ex3-pills-1" role="tab"
                aria-controls="ex3-pills-1" aria-selected="true">Express Delivery <i class="fas fa-truck d-none d-md-inline"></i></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex3-tab-2" data-mdb-toggle="pill" href="#ex3-pills-2" role="tab"
                aria-controls="ex3-pills-2" aria-selected="false">Competitive Prices <i class="fas fa-euro-sign d-none d-md-inline"></i></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex3-tab-3" data-mdb-toggle="pill" href="#ex3-pills-3" role="tab"
                aria-controls="ex3-pills-3" aria-selected="false">Secure Payment <i class="fas fa-credit-card d-none d-md-inline"></i></a>
        </li>
    </ul>

    <div class="tab-content" id="ex2-content">
        <div class="tab-pane fade p-lg-4 show active" id="ex3-pills-1" role="tabpanel" aria-labelledby="ex3-tab-1">
            We dispatch your product within 2 working days since the order has been made so you won't wait for long till you get it. 
            <br>To see the delivery cost, please click 
            <a class="fw-bold text-uppercase" type="button" data-mdb-toggle="modal" data-mdb-target="#deliveryCostModal">Delivery Cost</a>
        </div>
        <div class="tab-pane p-lg-4 fade" id="ex3-pills-2" role="tabpanel" aria-labelledby="ex3-tab-2">
            Our prices are not only cheaper than retail prices but also cheaper than other online shops, so you save
            money for next shopping.
        </div>
        <div class="tab-pane p-lg-4 fade" id="ex3-pills-3" role="tabpanel" aria-labelledby="ex3-tab-3">
            Our credit card payment is very secure so you do not worry about providing the details online.
        </div>
    </div>
    <!-- /End of Credit -->
</section>

<!-- Credit: MDB Modal @ https://mdbootstrap.com/docs/standard/components/modal/ -->
<!-- Modal -->
<div id="deliveryCostModal" class="modal fade" tabindex="-1" aria-labelledby="deliveryCostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryCostModalLabel">Delivery Cost</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            You will get <span class="fw-bold">FREE delivery</span> for order <span class="text-decoration-underline ">€90</span> or more.
            <br>10% on the order value will be charged as a delivery fee if your order is less than €90.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}