.shop--now--btn {
	background-color: #ffdf00;
	bottom: 2rem;
	color: #333;
	left: 2rem;
	position: absolute;
}

.shop--now--btn:hover {
	color: #fff;
}

/* Credit: Stackoverflow @ https://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css-3 */
.catch--phrase {
	animation: blinker 1.5s linear infinite;
	background-color: rgba(232, 70, 16, 0.2);
	font-size: 2rem;
	padding: 0.7rem 1.2rem;
	position: absolute;
	right: 2rem;
	top: 0.5rem;
}

@keyframes blinker {
	50% {
	  opacity: 0;
	}
}
/* /End of Credit */

.vertical--align--middle {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.brand--logo {
	vertical-align: middle;
	width: 7rem;
}

/* Credit: Hover.css @ https://ianlunn.github.io/Hover/ */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 40%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 40%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
/* /End of Credit */

.subscription--input {
	border: solid 1px #757575 !important;
}

/* -- Media Query: Tablet Screen Size Bigger Than 48rem / 768px -- */
@media only screen and (min-width: 48rem) {
	.shop--now--btn {
		bottom: 1rem;
		left: 12rem;
	}	
}

/* -- Media Query: Desktop Screen Size Bigger Than 62rem / 992px -- */
@media only screen and (min-width: 62rem) {
	.hvr-float-shadow {
		margin-bottom: 3rem;
	}

	#popular--brand,
	#reasons--for--purchase {
		padding: 2.5rem 0 3.5rem;
	}

	.shop--now--btn {
		left: 18rem;
	}
}