/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.qty--update {
    margin-right: 0.5rem;
}

.qty--remove {
    margin-left: 0.5rem;
}

.category--img {
    width: 8rem;
}