body {
    background-color: #fff !important;
    box-sizing: border-box;
    color: #333;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
}

/* -- General Settings and Styles -- */
.form-control,
.form-notch-leading,
.form-notch-trailing {
    border-radius: 0 !important;
}

.border--width--0 {
    border-width: 0;
}

.color--333 {
    color: #333 !important;
}

.color--e84610 {
    color: #e84610;
}

.color--09572a {
    color: #09572a;
}

.color--1b4da0 {
    color: #1b4da0;
}

.color--737373 {
    color: #737373;
}

.bg--color--efefef {
    background-color: #efefef;
}

.bg--color--09572a {
    background-color: #09572a;
}

.bg--color--e84610 {
    background-color: #e84610;
}

.bg--color--1b4da0 {
    background-color: #1b4da0;
}

.bg--color--f67aff {
    background-color: #f67aff;
}

.bg--color--ffdf00--01 {
    background-color: rgba(255, 223, 0, 0.3);
}

.bg--color--ffdf00-07 {
    background-color:rgba(255, 223, 0, 0.7)
}

.w--70 {
    width: 70%;
}

.float--right {
    float: right;
}

.card {
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.no--bullets {
    list-style-type: none;
  }

.btn {
    letter-spacing: 0.1rem;
}

.btn-warning {
    background-color: #ffdf00;
    color: #333;
}

.btn-primary, 
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    background-color: #1b4da0 !important;
}

.btn-danger {
    background-color: #e84610; 
}

.pointer {
    cursor:pointer;
}

/* -- base.html -- */
/* Header & Navbar */
header {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header--border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main--header {
    margin-top: 1rem;
}

.navbar-brand,
.main--logo {
    width: 12rem;
}

.search--form {
    width: 85%;
}

.icon {
    align-items: center;
    color: #737373;
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    width: 5rem;
}

.navbar {
    box-shadow: none !important;
}

.btn-outline-primary {
    margin-left: .1rem !important;
}

.bg-light,
.btn-outline-primary:hover {
    background-color: #fff !important;
}

.vl {
    padding-top: 0.5rem;
}

.main--alert {
	margin-top: 10rem;
}

/* Toasts Messages */
.message--container {
    left: 0.2rem;
    position: fixed;
    right: 0.2rem;
    top: 10.5rem;
    z-index: 999;
}

.custom--toast {
    overflow: visible;
    width: 98%;
}

.toast--success--body {
    border: 0.1rem solid #09572a;
}

.toast--error--body {
    border: 0.1rem solid #e84610;
}

.toast--info--body {
    border: 0.1rem solid #1b4da0;
}

.toast--warning--body {
    border: 0.1rem solid #f67aff;
}

.toast--error {
    width: 100%;
}

.close--btn {
    position: absolute;
    right: 2rem;
}

.bag--notification--wrapper {
    max-height: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* #new-image {
    width: 50%;
} */

/* Allauth */
#div_id_login,
#div_id_password,
#div_id_email,
#div_id_email2,
#div_id_username,
#div_id_password1,
#div_id_passwprd2 {
    margin-bottom: 1.5rem;
}

.invalid-feedback {
    position: relative;
}

.alert {
    border-radius: 0 !important;
}

/* Footer */
.social--media a {
    color: #333;
    font-size: 1.5rem;
}

.facebook,
.twitter,
.instagram,
.youtube {
    padding: .5rem 1.3rem .3rem;
}

.facebook:hover {
    color: #4267b2;
}

.twitter:hover {
    color: #1da1f2;
}

.instagram:hover {
    color: #833ab4;
}

.youtube:hover {
    color: #ff0000;
}

.btn-outline-light:hover {
    background-color: #efefef;
}

.footer--text {
    font-size: 0.8rem;
}

/* -- Quantity Selector for Product and Cart -- */
.quantity--selector {
    width: 7rem;
}

.decrement-qty, 
.increment-qty {
    border: none;
    background-color: #fff;
}

/* -- checkout.html -- */
.form-group {
    margin-bottom: 0.5rem;
}

/* -- Media Query: Tablet Screen Size Bigger Than 48rem / 768px -- */
@media only screen and (min-width: 48rem) {
    .w--50 {
        width: 50%;
    }

    .category--name {
        font-size: 1.4rem;
    }

    .message--container {
        left: auto;
        right: 1rem;
        top: auto;
        width: 25rem;
    }

    .login,
    .signup,
    .password_reset, /* check this class */
    .auth--p,
    .auth--div {
        width: 50%;
    }
}

/* -- Media Query: Desktop Screen Size Bigger Than 62rem / 992px -- */
@media only screen and (min-width: 62rem) {
    .search--form {
        width: 100%;
    }

    .main--alert {
		margin-top: 9rem;
	}
	
    .reasons--for--purchase--tabs {
        width: 80%;
    }

    .product--card {
        width: 90%;
    }

    .w--75 {
        width: 75%;
    }

    .login,
    .signup,
    .password_reset {
        width: 30%;
    }
}