body {
    background-color: #fff !important;
    box-sizing: border-box;
    color: #333;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
}

/* -- General Settings and Styles -- */
.form-control,
.form-notch-leading,
.form-notch-trailing {
    border-radius: 0 !important;
}

.border--width--0 {
    border-width: 0;
}

.color--333 {
    color: #333 !important;
}

.color--e84610 {
    color: #e84610;
}

.color--09572a {
    color: #09572a;
}

.color--1b4da0 {
    color: #1b4da0;
}

.bg--color--fbfbfb {
    background-color: #fbfbfb;
}

.center {
    margin: 0 auto;
}

.w--70 {
    width: 70%;
}

.float--right {
    float: right;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.card {
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.no--bullets {
    list-style-type: none;
  }

.btn {
    letter-spacing: 0.1rem;
}

.btn-warning {
    background-color: #ffdf00;
    color: #333;
}

.btn-primary, 
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    background-color: #1b4da0 !important;
}

.pointer {
    cursor:pointer;
}

/* -- base.html -- */
/* Header & Navbar */
.main--header {
    margin-top: 1rem;
}

.navbar-brand,
.main--logo {
    width: 12rem;
}

.search--form {
    width: 85%;
}

.icon {
    align-items: center;
    color: #333;
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    width: 5rem;
}

.navbar {
    box-shadow: none !important;
}

.btn-outline-primary {
    margin-left: .1rem !important;
}

.bg-light,
.btn-outline-primary:hover {
    background-color: #fff !important;
}

.vl {
    padding-top: 0.5rem;
}

.shop--now--btn {
    background-color: #ffdf00;
    bottom: 3rem;
    color: #333;
    left: 3rem;
    position: absolute;
}

.shop--now--btn:hover {
    color: #fff;
}

/* Toasts Messages */
.message-container {
    position: fixed;
    right: 1rem;
    top: 4.5rem;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: .125 rem;
}

/* Footer */
.social--media a {
    color: #333;
    font-size: 1.5rem;
}

.facebook:hover {
    color: #4267b2;
}

.twitter:hover {
    color: #1da1f2;
}

.instagram:hover {
    color: #833ab4;
}

.youtube:hover {
    color: #ff0000;
}

.btn-outline-light:hover {
    background-color: #fbfbfb;
}

.footer--text {
    font-size: .8rem;
}

/* -- index.html -- */
.main--alert {
    background-color: rgba(255, 223, 0, 0.7);
    border-radius: 0;
}

.vertical--align--middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.brand--logo {
    vertical-align: middle;
    width: 7rem;
}

#reasons--for--purchase,
.prices--display {
    background-color: rgba(255, 223, 0, 0.2);
}

/* -- products.html & product_details.html -- */
.badge:hover {
    color: #fff !important;
}

.sort--selector--field {
    text-align: right;
}

#sort-selector {
    border: none;
}

.btt--button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt--link {
    cursor: pointer;
}

.quantity--selector {
    width: 7rem;
}

.decrement-qty, 
.increment-qty {
    border: none;
    background-color: #fff;
}

#id_product_size,
#id_is_club {
    width: 3rem;
}

/* -- cart.html -- */
.c--1 {
    width: 20%;
}

.cart--product--image {
    width: 100%;
}

.cart--product--image--mob {
    width: 50%;
}

.qty--update {
    margin-right: 0.5rem;
}

.qty--remove {
    margin-left: 0.5rem;
}

/* -- Media Query: Tablet Screen Size Bigger Than 48rem / 768px -- */
@media only screen and (min-width: 48rem) {
    .category--name {
        font-size: 1.4rem;
    }
}

/* -- Media Query: Desktop Screen Size Bigger Than 62rem / 992px -- */
@media only screen and (min-width: 62rem) {
    .search--form {
        width: 100%;
    }

    .reasons--for--purchase--tabs {
        width: 80%;
    }

    .product--card {
        width: 90%;
    }
}