html {
    background-color: #fff !important;
}

body {
    box-sizing: border-box;
    color: #333;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
}

/* -- General Settings and Styles -- */
.form-control,
.form-notch-leading,
.form-notch-trailing {
    border-radius: 0 !important;
}

.color--333 {
    color: #333 !important;
}

.color--e84610 {
    color: #e84610;
}

.bg--color--fbfbfb {
    background-color: #fbfbfb;
}

.center {
    margin: 0 auto;
}

.w--80 {
    width: 80%;
}

/* -- base.html -- */
/* Header & Navbar */
.main--header {
    margin-top: 1rem;
}

.navbar-brand,
.main--logo {
    width: 15rem;
}

.inline {
    display: inline;
    float: right;
}

.icon {
    align-items: center;
    color: #333;
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
}

.navbar {
    box-shadow: none !important;
}

.bg-light {
    background-color: #fff !important;
}

.vl {
    padding-top: 0.5rem;
}

.shop--now--btn {
    background-color: #ffdf00;
    bottom: 3rem;
    color: #000;
    left: 3rem;
    position: absolute;
}

/* Footer */
.social--media a {
    color: #333;
    font-size: 1.5rem;
}

.facebook:hover {
    color: #4267b2;
}

.twitter:hover {
    color: #1da1f2;
}

.instagram:hover {
    color: #833ab4;
}

.youtube:hover {
    color: #ff0000;
}

.btn-outline-light:hover {
    background-color: #fbfbfb;
}

/* -- index.html -- */

.main--alert {
    background-color: rgba(255, 223, 0, 0.7);
    border-radius: 0;
}

.vertical--align--middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.brand--logo {
    vertical-align: middle;
    width: 7rem;
}

#reasons--for--purchase {
    background-color: rgba(255, 223, 0, 0.2);
}
