.catch--phrase--products {
	background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
	font-size: 2rem;
    left: 2rem;
	padding: 0.7rem 1.2rem;
	position: absolute;
	top: 0.5rem;
    width: 3.5rem;
}

/* Credit: Hubspot @ https://blog.hubspot.com/website/css-fade-in */
.fade--in--text {
	animation: fadeIn linear 4s;
	-webkit-animation: fadeIn linear 4s;
	-moz-animation: fadeIn linear 4s;
	-o-animation: fadeIn linear 4s;
	-ms-animation: fadeIn linear 4s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
/* /End of Credit */

.sort--selector--field {
    text-align: right;
}

#sort-selector {
    border: none;
}

.btt--button {
    bottom: 0.625rem;
    display: none;
    position: fixed;
    right: 0.625rem;
}

.btt--link {
    cursor: pointer;
}

.product--image {
    width: 80%;
}

#id_product_size,
.is--club {
    width: 3.6rem;
}