.catch--phrase--products {
	background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
	font-size: 2rem;
    left: 2rem;
	padding: 0.7rem 1.2rem;
	position: absolute;
	top: 0.5rem;
    width: 3.5rem;
}

.badge:hover {
    color: #fff !important;
}

.sort--selector--field {
    text-align: right;
}

#sort-selector {
    border: none;
}

.btt--button {
    bottom: 0.625rem;
    position: fixed;
    right: 0.625rem;
}

.btt--link {
    cursor: pointer;
}

#id_product_size,
.is--club {
    width: 3rem;
}