{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<!-- Credit: Bootstrap Alerts @ https://getbootstrap.com/docs/5.0/components/alerts/ -->
<div class="alert alert-warning text-center mb-0 main--alert" role="alert">
    Spend <span class="font-weight-bold">&#128;{{ free_golf_balls_threshold }}</span> or more and get a Dozen Golf Balls
    <span class="font-weight-bold text-uppercase">free</span>!
</div>
<!-- /End of Credit -->
<section class="mb-5 p-4 text-center">
    <h2 class="m-3">{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password?<br>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form class="password_reset mx-auto mt-3 text-start" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary mt-3 mb-4" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</section>
{% endblock %}