{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_title %}
- Register
{% endblock %}

{% block content %}
<section class="mb-5 p-4 text-center">
    <h2 class="m-3">{% trans "Register" %}</h2>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Login</a>.{% endblocktrans %}</p>
    <form id="signup_form" class="signup mx-auto mt-3 text-start" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary mt-4 mb-4" type="submit">{% trans "Register" %} &raquo;</button>
    </form>
</section>
{% endblock %}