{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<!-- Credit: Bootstrap Alerts @ https://getbootstrap.com/docs/5.0/components/alerts/ -->
<div class="alert alert-warning text-center mb-0 main--alert" role="alert">
    Spend <span class="font-weight-bold">&#128;{{ free_golf_balls_threshold }}</span> or more and get a Dozen Golf Balls
    <span class="font-weight-bold text-uppercase">free</span>!
</div>
<!-- /End of Credit -->
<section class="mb-5 p-4 text-center">
    <h2 class="m-3">{% trans "Verify Your E-mail Address" %}</h2>

    <p class="mt-4 mt-md-5 mx-auto auth--p">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
        process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</section>
{% endblock %}