{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Products
{% for c in current_categories %}
    {% if c.name == 'drivers' and 'hybrids' and 'irons' and 'putters' %}
    - Golf Clubs
    {% elif c.name == 'shirts' and 'sweaters' and 'trousers' and 'shoes' %}
    - Clothing & Shoes
    {% elif c.name == 'bags' and 'golf_balls' and 'gps' %}
    - Golf Bags & Equipment
    {% endif %}
    {% endfor %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="bg-image">
    <!-- Group of Categories and Images -->
    {% for c in current_categories %}
        {% if c.name == 'drivers' and 'hybrids' and 'irons' and 'putters' %}
            <img class="d-none d-md-block w-100" src="{% static 'images/hero-image-products-golf-clubs.png' %}" 
                alt="Main image of Golf Clubs Products">
            <img class="d-md-none w-100" src="{% static 'images/hero-image-mobile-products-golf-clubs.png' %}" 
                alt="Main image of Golf Clubs Products">
            <p class="d-none d-lg-inline-block text-uppercase fw-bold fade--in--text catch--phrase--products">High Performance Golf Clubs</p>
        {% elif c.name == 'shirts' and 'sweaters' and 'trousers' and 'shoes' %}
            <img class="d-none d-md-block w-100" src="{% static 'images/hero-image-products-clothing.png' %}" 
                alt="Main image of Clothing and Shoes products">
            <img class="d-md-none w-100" src="{% static 'images/hero-image-mobile-products-shoes.png' %}" 
                alt="Main image of Clothing and Shoes Products">
            <p class="d-none d-lg-inline-block text-uppercase fw-bold fade--in--text catch--phrase--products">Stylish Clothes & Shoes</p>
        {% elif c.name == 'bags' and 'golf_balls' and 'gps' %}
            <img class="d-none d-md-block w-100" src="{% static 'images/hero-image-products-golf-balls.png' %}" 
                alt="Main image of Golf Bags and Equipment products">
            <img class="d-md-none w-100" src="{% static 'images/hero-image-mobile-products-bag.png' %}" 
                alt="Main image of Golf Bags and Equipment Products">
            <p class="d-none d-lg-inline-block text-uppercase fw-bold fade--in--text catch--phrase--products">Improve Your Game</p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<section class="container text-center {% if products|length < 1 %}mb-5{% endif %}">
    <!-- Product Display -->
    {% if current_categories == None and sale != True %}
        <h2 class="m-5">All Products</h2>
    {% elif sale == True %}
        <h2 class="m-5">Sale</h2>
    {% endif %}
    <!-- Group of Categories -->
    {% for c in current_categories %}
        {% if c.name == 'drivers' and 'hybrids' and 'irons' and 'putters' %}
            <h2 class="mt-5">Golf Clubs</h2>
        {% elif c.name == 'shirts' and 'sweaters' and 'trousers' and 'shoes' %}
            <h2 class="mt-5">Clothing & Shoes</h2>
        {% elif c.name == 'bags' and 'golf_balls' and 'gps' %}
            <h2 class="mt-5">Golf Bags & Equipment</h2>
        {% endif %}
    {% endfor %}
    <!-- Brands -->
    {% for b in current_brands %}
        {% if b.name == 'taylormade' %}
            <h3 class="mt-3 text-muted font-weight-bold">TaylorMade</h3>
        {% elif b.name == 'callaway' %}
            <h3 class="mt-3 text-muted font-weight-bold">Callaway</h3>
        {% elif b.name == 'titleist' %}
            <h3 class="mt-3 text-muted font-weight-bold">Titleist</h3>
        {% elif b.name == 'mizuno' %}
            <h3 class="mt-3 text-muted font-weight-bold">Mizuno</h3>
        {% elif b.name == 'ping' %}
            <h3 class="mt-3 text-muted font-weight-bold">PING</h3>
        {% elif b.name == 'cobra' %}
            <h3 class="mt-3 text-muted font-weight-bold">Cobra</h3>
        {% elif b.name == 'srixon' %}
            <h3 class="mt-3 text-muted font-weight-bold">Srixon</h3>
        {% elif b.name == 'nike' %}
            <h3 class="mt-3 text-muted font-weight-bold">Nike</h3>
        {% endif %}
    {% endfor %}
    <!-- Product Search -->
    <div>
        <p class="text-muted mt-3 text-center text-md-left">
            {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
            {% endif %}
            {{ products|length }}
            {% if products|length > 1 %} 
                Products
            {% else %} 
                Product
            {% endif %} 
            {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
        </p>
    </div>
    <!-- Categories -->
    <div class="mt-3 category--name">
        {% for c in current_categories %}
        <a class="badge rounded-pill bg-success" href="{% url 'products' %}?category={{ c.name }}">
            <span class="p-1 p-md-3 mt-2">{{ c.friendly_name }}</span>
        </a>
        {% endfor %}
    </div>
    <!-- Product Sort -->
    {% if products|length > 1 %}
        <div class="mt-3 mt-lg-0 sort--selector--field">
            <i class="fas fa-filter"></i>
            <select id="sort-selector">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price Low to High</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price High to Low</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category A - Z</option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category Z - A</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Product A - Z</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Product Z - A</option>
            </select>
        </div>
    {% endif %}
    <div class="row mx-auto w--lg--90">
        <!-- Product Details Display -->
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
            <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
            <div class="card mt-3 p-3">
                {% if product.image%}
                    <a class="hover-zoom" href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top w--75" src="{{ product.image.url }}" alt="{{ product.name }}" />
                    </a>
                {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top w--75" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                    </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title mt-2">{{ product.name }}</h5>
                </div>
                <ul class="mt-2 list-group list-group-flush list-unstyled">
                    <li class="h5 {% if not product.is_discount %}font-weight-bold{% endif %}">
                        {% if product.is_discount %}
                            <s>Price: €{{ product.price }}</s>
                        {% else %}
                            Price: €{{ product.price }}{% endif %}
                    </li>
                    {% if product.is_discount %}
                        <li class="font-weight-bold h5 text-uppercase">Sale: €{{ product.discount_price }}</li>
                    {% endif %}
                    <li class="text-muted">{{ product.category.friendly_name }}</li>
                </ul>
                {% if request.user.is_superuser %}
                    <div class="card-body">
                        <a class="card-link" href="{% url 'edit_product' product.id %}">Edit</a>
                        <a class="card-link color--e84610" href="{% url 'delete_product' product.id %}">Delete</a>
                    </div>
                {% endif %}
                <hr>
            </div>
            <!-- /End of Credit -->
        </div>
        {% endfor %}
    </div>
    {% if products|length > 1 %}
        <div id="myBtn" class="btt--button">
            <a class="btt--link">
                <i class="far fa-caret-square-up fa-2x color--e84610"></i>
            </a>	
        </div>
    {% endif %}
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Credit: W3Schools @ https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top -->
    <script type="text/javascript">
        const mybutton = document.getElementById("myBtn");
        
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
        if (document.body.scrollTop > 350 || document.documentElement.scrollTop > 350) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }
        
        $('.btt--link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>
    <!-- /End of Credit -->
    <script type="text/javascript">
        $('#sort-selector').change(function () {
            let selector = $(this);
            let currentUrl = new URL(window.location);
            let selectedVal = selector.val();

            if (selectedVal != "reset") {
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}